@tailwind base;
@tailwind components;
@tailwind utilities;

.num {
    width: 22px;
    height: 22px;
}

.exam-layout {
    position: relative;
    display: grid;
    grid-auto-columns: max-content auto;
    width: 100%;
}

/*.container {*/
/*    height: calc(var(--vh, 1vh) * 100);*/
/*    overflow: hidden;*/
/*}*/